# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
.idea
# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# virtualenv
.venv
venv/
ENV/

node_modules/
/Place_Name_Disambiguation_Testing/config.py
/Place_Name_Disambiguation_Testing/local_data_base_test/geonames.csv
/Place_Name_Disambiguation_Testing/Completed_Evaluation/QuakeTextCompleted.csv
Place_Name_Disambiguation_Testing/Annotation/Annotation_Evaluation/Sophie50.csv
Place_Name_Disambiguation_Testing/Annotation/Annotation_Evaluation/Georgia50.csv
Place_Name_Disambiguation_Testing/Annotation/Annotation_Complete/SophieFullSet.csv
Place_Name_Disambiguation_Testing/Annotation/Annotation_Complete/GeorgiaFullSet.csv
Place_Name_Disambiguation_Testing/Annotation/Annotation_Complete/GeorgiaFullSet.csv
Place_Name_Disambiguation_Testing/Annotation/Annotation_Complete/SophieFullSet.csv
