* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.map {
    width: 100vw;
    height: 90vh;
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;

}

p,
label {
    font: 1rem 'Fira Sans', sans-serif;
}

input {
    margin: 0.4rem;
}

.popupContainer {
    position: absolute;
    background-color: white;
    box-shadow: 2px 2px 5px rgba(51, 40, 40, 0.2);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    border-radius: 10px;
    border: 1px solid black;
    bottom: 55px;
    left: -20px;
    min-width: 300px;
    overflow: auto;
}


.popupContainer:after, .popupContainer:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    left: -10px;
    position: fixed;
    pointer-events: none;
}

.popupContainer:after {
    border-top-color: white;
    border-width: 10px;
    left: 48px;
    margin-left: -60px;
    margin-top: -56px;
}

.popupContainer:before {
    border-top-color: black;
    border-width: 10px;
    left: 48px;
    margin-left: -60px;
    margin-top: -55px;

}

.popup-content {
    font-size: 15px;
    white-space: pre-wrap;
}

.popup-closer {
    text-decoration: none;
    position: absolute;
    top: 2px;
    right: 8px;
    border-width: 0;
    background-color: white;

}

.popup-closer:after {
    content: "✖";
    font-size: 15px;
}

.bold {
    font-weight: bold;
}

#title {
    position: relative;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: -20px;
}

#title-image {
    left: 10px;
    margin-top: -3px;
}