* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.map {
    width: 100vw;
    height: 90vh;
    --contentHeight: 95vh;
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 40px;


}

p,
label {
    font: 1rem 'Fira Sans', sans-serif;
}

input {
    margin: 0.4rem;
}

.popupContainer {
    position: absolute;
    background-color: white;
    box-shadow: 2px 2px 5px rgba(51, 40, 40, 0.2);
    padding: 15px;
    border-radius: 10px;
    border: 1px solid black;
    bottom: 12px;
    left: -49px;
    min-width: 300px;
    overflow: auto;
}


.popupContainer:after, .popupContainer:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    left: -10px;
    position: fixed;
    pointer-events: none;
}

.popupContainer:after {
    border-top-color: white;
    border-width: 10px;
    left: 48px;
    margin-left: -60px;
    margin-top: -13px;
}

.popupContainer:before {
    border-top-color: black;
    border-width: 10px;
    left: 48px;
    margin-left: -60px;
    margin-top: -12px;

}

.popup-content {
    font-size: 15px;
    white-space: pre-wrap;
}

.popup-closer {
    text-decoration: none;
    position: absolute;
    top: 2px;
    right: 8px;
    border-width: 0;
    background-color: white;

}

.popup-closer:after {
    content: "✖";
    font-size: 15px;
}

.bold {
    font-weight: bold;
}